# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~.nib

# App data
*.app
*.ipa
*.dSYM.zip
*.dSYM
